<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
  <form action="/" method="POST">
    Email: <input type="text" name="email" placeholder="e.g. alex@dbc.com">
    Password: <input type="password" name="password">
    <br><br>
    <input type="submit" value="Log In">
  </form>
  <br><br>
  <% if @message %>
    <h3> <%= @message %> </h3>
  <% end %>
  <a href= "/signup">Sign up</a>
</div>
