<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Welcome <%= @user.name%> !!!</p>
  <br><br>
  <img src = "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS7RYThMe2ksHM_enDfdusLO13yuY1gfgsur8NG6_B9jXTt9gIa">

  <a href="/logout">Log Out </a>

</div>
